---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página No Encontrada">
  <div class="flex items-center justify-center min-h-screen">
    <div class="text-center">
      <h1 class="text-4xl">Lo sentimos, no pudimos encontrar la familia que buscabas.</h1>
      <a href="/" class="text-blue-500">Regresar al Inicio</a>
    </div>
  </div>
</Layout>

  