---

---

<div class="my-12">
    <div>
        <h2 class="uppercase text-big-caslon text-5xl golden-text text-center">Confirmar <br>Asistencia</h2>
        <div class="mt-8 text-lg font-light flex flex-col space-y-2 text-center">
            <p>Favor de confirmar asistencia</p>
        </div>
    </div>

    <div class="text-center mt-8">
        <p class="font-bold text-lg">Familia ...</p>
        <div class="mt-6">
            <a href="" target="_blank" class="p-4 rounded-xl border font-bold text-white bg-slate-900">Descargar </a>
        </div>
    </div>
    <div class="border-b w-4/5 border-gray-400 shadow-2xl mt-8 mx-auto"></div>
</div>