---
import Countdown from "./Countdown";


---

<div class="relative">
    <div class="h-svh w-full relative">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <img src="./assets/IMG-20241001-WA0055.jpg" alt="" class="w-full h-full object-cover">
    </div>
    <div class="absolute inset-0 flex flex-col justify-center items-center text-center">
        <span class="uppercase text-white text-2xl">23/Noviembre/2024</span>
        <div class="mt-2">
            <h1 class="uppercase text-big-caslon text-8xl golden-text">Mis XV</h1>
            <h2 class="title-baby-dandelia text-7xl text-white -mt-4">Kaila</h2>
        </div>

        <div class="absolute bottom-10">
            <Countdown />
        </div>
    </div>
</div>